In [1]:
3 * 4

12

In [2]:
3 * * 4

SyntaxError: invalid syntax (<ipython-input-2-012ea60b41dd>, line 1)

In [1]:
3 ** 4

81

In [4]:
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10

17.555555555555557

In [5]:
1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 - 9 + 10

2017.0

In [6]:
a = 10
b = 20
a + b

30

In [7]:
quarter = 1/4
half = 2 * quarter
half

0.5

In [8]:
quarter = 4
half

0.5

In [9]:
purchase_price = 5
state_tax_rate = 0.075
county_tax_rate = 0.02
city_tax_rate = 0
sales_tax_rate = state_tax_rate + county_tax_rate + city_tax_rate
sales_tax = purchase_price * sales_tax_rate
sales_tax

0.475

In [10]:
initial = 2766000
changed = 2814000
(changed - initial) / initial

0.01735357917570499

In [11]:
(changed/initial) - 1

0.017353579175704903

In [12]:
# In 10 years, the number of employees of the US Federal Government has increased by only 1.74%. In that time, the total expenditures of the US Federal Government increased from $2.37 trillion to $3.38 trillion in 2012.
initial = 2.37
changed = 3.38
(changed/initial) - 1

0.4261603375527425

In [14]:
# A 42.6% increase in the federal budget is much larger than the 1.74% increase in federal employees. In fact, the number of federal employees has grown much more slowly than the population of the United States, which increased 9.21% in the same time period from 287.6 million people in 2002 to 314.1 million in 2012.

initial = 287.6
changed = 314.1
(changed/initial) - 1

0.09214186369958277

In [2]:
import math
import operator
math.sqrt(operator.add(4, 5))

3.0

In [3]:
(4 + 5) ** 0.5

3.0

In [4]:
florida = 2.72
iowa = 16.25
100*abs(florida-iowa)/((florida+iowa)/2)

142.6462836056932

In [5]:
math.log?

Docstring:
log(x[, base])

Return the logarithm of x to the given base.
If the base not specified, returns the natural logarithm (base e) of x.
Type:      builtin_function_or_method

In [8]:
math.log(16, 2)

4.0

In [9]:
cones

NameError: name 'cones' is not defined

In [2]:
type(abs)

builtin_function_or_method

In [2]:
5+5

10